@import "tailwindcss";

@layer base {
  html {
  }
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

.logo {
  font-family: "Allura", cursive;
}

.hero-title {
  font-family: "Caveat", cursive;
  /* font-weight: 400; */
  /* font-style: normal; */
}

.signin-form {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.01)),
    url("./assets/login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-form {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.01)),
    url("./assets/forest-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Hide scrollbar for Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-white mt-2 rounded px-5 py-3 mb-4 outline-none;
  }
  .register-input-box {
    @apply w-full text-sm bg-white mt-2 border border-slate-300/50 rounded px-5 py-3 mb-4 outline-slate-300/20;
  }
  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-blue-500  p-2.5 rounded-[10px] my-1 hover:bg-cyan-100 hover:text-black;
  }
  .btn-light {
    @apply bg-cyan-50 text-black shadow-cyan-100/0 border-cyan-100;
  }
  .login-ui-box {
    @apply w-80 h-[450px] rounded-full bg-cyan-400 absolute rotate-45;
  }
  .icon-btn {
    @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500;
  }
  .model-box {
    @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-20 p-5 pb-10 overflow-y-scroll z-50;
  }

  .btn-small {
    @apply flex items-center gap-1 text-xs font-medium bg-cyan-50 text-cyan-400 shadow-cyan-100 border border-cyan-400 hover:bg-cyan-400 hover:text-white rounded-full px-3 py-[3px];
  }

  .btn-delete {
    @apply bg-rose-50 text-rose-500 shadow-rose-100/0 border border-rose-100 hover:bg-rose-500 hover:text-white;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }

  .model-box::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .model-box::-webkit-scrollbar-track {
    background: rgb(172, 201, 229);
  }

  .model-box::-webkit-scrollbar-thumb {
    background-color: #057c8e;
    border-radius: 3px;
  }
}
