@import "tailwindcss";

@layer base {
  html {
  }
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-cyan-600/5 rounded px-5 py-3 mb-4 outline-none;
  }
  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-2.5 rounded-full my-1 hover:bg-cyan-100 hover:text-black;
  }
  .btn-light {
    @apply bg-cyan-50 text-black shadow-cyan-100/0 border-cyan-100;
  }
  .login-ui-box {
    @apply w-80 h-[450px] rounded-full bg-cyan-400 absolute rotate-45;
  }
}

.login-bg-img {
  background: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signup-bg-img {
  background: url("./assets/signup-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
